@use "sass:map";
$drawer: (
	closed: 2rem,
	open: 12rem,
	openLg: 18rem
);

$colours: (
	primary: #845ec2,
	secondary: desaturate(darken(#845ec2, 20%),10%),
	accent: #00c9a7,
	light: #f1ede9,
	dark: #31263e,
);
